html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

#calculator {
    display: inline-flex;
    flex-direction: column;
}

#screen {
    box-sizing: border-box;
    height: 150px;
    border: 1px solid black;
    text-align: right;
    padding-top: 1.75rem;
    padding-right: 1rem;
    font-family: 'Exo', sans-serif;
    font-size: 5rem;
    font: bolder;
    background:#7d7d7d;
    color: #ededed;;
}

#buttons {
    display:grid;
	grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(4, 100px);
    border-left: 1px solid black; 
}

.button {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 2rem;
    font: bolder;
    font-family: 'Urbanist', sans-serif;
    padding-top: 2rem;
    text-align: center;
    font: bolder;
    color: black;
    background:#f2f4f5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.button:active {
    filter: brightness(85%);
}

.operand {
    background:#ffb13d;
}

.func {
    background:#6eafff;
}

#zero {
    grid-column: span 2;
}